#header {
    height: 40px; border:  1px solid blue;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
#content {
    border: 1px solid red;
}
.goright {
    margin-left: 20px;
}
.error {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20 px;
}
table {
    border-collapse:collapse;
    margin-top: 20px;
    margin-left: 20px;
}
table, td, tr {
    
    border: 1px solid black;
    padding:5px;
}
form {
    margin-top: 10px;
    margin-left: 10px;
}